* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 500px 500px 1fr;
  grid-template-rows: 1fr 100px 500px 100px;
  grid-gap: 10px;
  grid-template-areas:
  ". title title  ."
  ". header header ."
  ". sidebar content ."
  ". footer footer . ";

}

.title {
  grid-area: title;
  align-self: center;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  display: grid;
}

.footer {
  grid-area: footer;
}

.grid div:nth-child(even) {
  background-color: aliceblue;
}

.grid div:nth-child(odd) {
  background-color: wheat;
}


@media screen and (min-width)